{% extends "RegelwerkTranslationBundle::layout.html.twig" %}
{% trans_default_domain 'regelwerk_translation' %}

{% block rt_content %}
    <h1>{{ 'domain_title' | trans({'%domain%': domain, '%lang%': lang}) }}</h1>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>{{ 'key' | trans }}</th>
                <th>{{ 'translation' | trans }}</th>
                <th>{{ 'state' | trans }}</th>
            </tr>
        </thead>
        <tbody>
    {% for transUnit in transUnits if transUnit.source %}
        <tr class="{% if transUnit.state == 'needs-translation' %}danger{% elseif transUnit.state == 'needs-approval' %}warning{% endif %}">
            <td>{{ transUnit.source }}</td>
            <td><a href="{{ path('regelwerk_translation_edit_key', {domain: domain, key: transUnit.source, lang: lang}) }}">{{ transUnit.target }}</a></td>
            <td>
                {% if transUnit.state == 'needs-translation' %}
                    {% set tooltip = 'tooltip_needs_translation' | trans %}
                {% elseif transUnit.state == 'needs-approval' %}
                    {% set tooltip = 'tooltip_needs_approval' | trans %}
                {% else %}
                    {% set tooltip = 'tooltip_approved' | trans %}
                {% endif %}
                <a href="{{ path('regelwerk_translation_edit_key', {domain: domain, key: transUnit.source, lang: lang}) }}" data-toggle="tooltip" title="{{ tooltip }}" class="regelwerk-translation-bundle-tooltip">
                    <span class="glyphicon glyphicon-{{ transUnit.icon }}" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    <div class="clearfix">
        <a href="{{ path('regelwerk_translation_index', {lang: lang}) }}" class="btn btn-default pull-right">{{ 'to_index' | trans }}t</a>
    </div>
{% endblock %}
