{% extends "RegelwerkTranslationBundle::layout.html.twig" %}
{% trans_default_domain 'regelwerk_translation' %}
{% from "RegelwerkTranslationBundle:Translation:_macros.html.twig" import edit as edit_button %}
{% from "RegelwerkTranslationBundle:Translation:_macros.html.twig" import search_form as search_form %}

{% block rt_content %}
    {{ search_form(form) }}
    <h1>{{ 'domain_title' | trans({'%domain%': domain, '%lang%': lang}) }}</h1>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>{{ 'key' | trans }}</th>
                <th>{{ 'translation' | trans }}</th>
                <th>{{ 'state' | trans }}</th>
            </tr>
        </thead>
        <tbody>
    {% for transUnit in transUnits if transUnit.translationKey %}
        <tr class="{% if transUnit.needsTranslation() %}danger{% elseif transUnit.needsApproval() %}warning{% endif %}">
            <td>{{ transUnit.translationKey }}</td>
            <td><a href="{{ path('regelwerk_translation_edit_key', {domain: domain, key: transUnit.translationKey, lang: lang}) }}">{{ transUnit.translation }}</a></td>
            <td>
                {{ edit_button(transUnit, path('regelwerk_translation_edit_key', {domain: domain, key: transUnit.translationKey, lang: lang})) }}
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    <div class="clearfix">
        <a href="{{ path('regelwerk_translation_index', {lang: lang}) }}" class="btn btn-default pull-right">{{ 'to_index' | trans }}t</a>
    </div>
{% endblock %}
