{% extends "RegelwerkTranslationBundle::layout.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% trans_default_domain 'regelwerk_translation' %}

{% block rt_content %}
    <div class="row">
        <div class="col-md-offset-1 col-md-8 col-sm-offset-1 col-sm-10 col-xs-12">
            <h1>{{ 'edit_key_title' | trans({'%key%': key}) }}</h1>
            {{ form_start(form) }}
            <div class="form-group ">
                <label for="translation_form_original" class="required">{{ 'source_text' | trans }}</label>
                <p id="translation_form_original" class="form-control-static">{{ originalText }}</p>
            </div>    
            <div class="form-group ">
                <label for="translation_form_state" class="required">{{ 'state' | trans }}</label>
                <p id="translation_form_state" class="form-control-static">{{ state }}</p>
            </div>
            {% if form.vars.data.oldVersions %}
                <div class="form-group ">
                    <a href="#" data-toggle="collapse" data-target="#old_versions"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> {{ 'old_versions' | trans }}</a>
                    <div id="old_versions" class="collapse">
                    {% for oldVersion in form.vars.data.oldVersions %}
                        <p class="form-control-static">{{ oldVersion }}</p>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if form.vars.data.notes %}
                <div class="form-group ">
                    <a href="#" data-toggle="collapse" data-target="#notes"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> {{ 'notes' | trans }}</a>
                    <div id="notes" class="collapse">
                    {% for note in form.vars.data.notes %}
                        <p class="form-control-static">{% if note.from %}{{ note.from }}: {% endif %}{{ note.text }}</p>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}
            {{ form_row(form.translation)}}
            <div class="clearfix">
                <a href="{{ path('regelwerk_translation_domain', {domain: domain, lang: lang}) }}" class="btn btn-default pull-right">{{ 'cancel' | trans }}</a>
                {% if form.leaveState is defined %}
                    {{ form_widget(form.leaveState, {attr: {class: 'btn btn-default pull-right'}} ) }}
                    {{ form_widget(form.translated, {attr: {class: 'btn btn-primary pull-right'}} ) }}
                {% elseif form.approve is defined %}
                    {{ form_widget(form.translated, {attr: {class: 'btn btn-default pull-right'}} ) }}
                    {% if approveButtonEnabled %}
                        {{ form_widget(form.approve, {attr: {class: 'btn btn-primary pull-right'}} ) }}
                    {% else %}
                        {{ form_widget(form.approve, {attr: {class: 'btn btn-primary pull-right disabled'}, disabled: true} ) }}
                    {% endif %}
                {% else %}
                    {{ form_widget(form.translated, {attr: {class: 'btn btn-primary pull-right'}} ) }}
                {% endif %}

            </div>
            {{ form_end(form) }}
        </div>
    </div>
    
{% endblock %}